.navbar {
    text-align: center;
    padding: 20px;

    .heading {
        font-size: 20px;
        color: white;
        margin: 0;
        margin-bottom: 5px;
    }

    .description {
        color: #ddd;
        margin: 0;
        margin-bottom: 5px;
    }
}


.right-btn {
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;

}

.left-btn {
    position: fixed;
    left: 20px;
    top: 20px;
}